<h3 mat-dialog-title class="modal-header">Ajouter</h3>

<mat-dialog-content>

    <form [formGroup]="addContactForm">


        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Nom" formControlName="nom" />
                <mat-error *ngIf="hasError('nom', 'required', addContactForm)">Nom est obligatoire</mat-error>      
            </mat-form-field>

            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Prenom" formControlName="prenom" />
                <mat-error *ngIf="hasError('prenom', 'required', addContactForm)">Prenom est obligatoire</mat-error>      
            </mat-form-field>


            <mat-form-field fxFlex="30%">
                <mat-label>Date de naissance</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
                <mat-error *ngIf="hasError('dateNaissance', 'required', addContactForm)">La date de naissance est obligatoire</mat-error>      
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              

        </div>
    </form>

    <form [formGroup]="addAdresseForm">



        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Type d'adresse" formControlName="typeAdresse" />
                <mat-error *ngIf="hasError('typeAdresse', 'required', addAdresseForm)">Type d'adresse est obligatoire</mat-error>      
            </mat-form-field>
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Type de voie" formControlName="typeVoie" />
                <mat-error *ngIf="hasError('typeVoie', 'required', addAdresseForm)">Type de void est obligatoire</mat-error>      
            </mat-form-field>
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Telephone " formControlName="numTelephone" />
                <mat-error *ngIf="hasError('numTelephone', 'required', addAdresseForm)">Numero de telephone est obligatoire</mat-error>      
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="text" placeholder="Numéro" formControlName="numero" />
                <mat-error *ngIf="hasError('numero', 'required', addAdresseForm)">Numéro est obligatoire</mat-error>      
            </mat-form-field>
            <mat-form-field fxFlex="65%" class="form-field">
                <input matInput required type="text" placeholder="Rue" formControlName="rue" />
                <mat-error *ngIf="hasError('rue', 'required', addAdresseForm)">Rue est obligatoire</mat-error>      
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="30%" class="form-field">
                <input matInput required type="number" placeholder="Code postal" formControlName="cp" />
                <mat-error *ngIf="hasError('cp', 'required', addAdresseForm)">Code postal est obligatoire</mat-error>      
            </mat-form-field>
            <mat-form-field fxFlex="65%" class="form-field">
                <input matInput required type="text" placeholder="Ville " formControlName="ville" />
                <mat-error *ngIf="hasError('ville', 'required', addAdresseForm)">Ville est obligatoire</mat-error>      
            </mat-form-field>

            
        </div>

        <div fxLayout="row">
            <mat-form-field fxFlex="100%" class="form-field">
                <textarea matInput type="text" placeholder="Commentaire " formControlName="commentaire" ></textarea>
            </mat-form-field>

        </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%">
        <button mat-raised-button type="submit" color="primary" (click)="validate()" [disabled]="!addContactForm.valid || !addAdresseForm.valid">Valider</button>
        <button mat-raised-button mat-dialog-close color="warn">Annuler</button>

    </div>
</mat-dialog-content>