<div fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Dialog mode-->
    <div *ngIf="isDialogMode" fxLayout="row" fxLayoutGap="2%">
        <button mat-raised-button color="primary" (click)="addContactDialog()">Ajouter</button>
        <button mat-raised-button [disabled]="!isRowSelected" color="primary"
            (click)="updateContactDialog()">Modifier</button>
        <button mat-raised-button [disabled]="!isRowSelected" color="warn" (click)="deleteContacts()">Supprimer</button>

    </div>

    <mat-form-field>
        <input matInput type="text" placeholder="Recherche" (input)="search($event)">
    </mat-form-field>

</div>

<div class="grid-wrapper">

    <ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 150px);" 
        id="mygrid" class="ag-theme-alpine"
        [rowData]="rowData" 
        [columnDefs]="columnDefs" 
        [pagination]="true" 
        [paginationAutoPageSize]="true"
        (gridReady)="onGridReady($event)" 
        (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
</div>