<p>contact-list works!</p>
<button mat-raised-button color="primary" (click)="addContact()">Add</button>
<button mat-raised-button color="primary" (click)="deleteContacts()">Delete Selected Row</button>
<button mat-raised-button color="primary" (click)="updateContact()">Update Selected Row</button>

<mat-form-field >
    <input matInput type="text" placeholder="Recherche" 
      (input)="search($event)">
  </mat-form-field>

<ag-grid-angular #agGrid
    style="width: 900px; height: 800px;"
    class="ag-theme-alpine"
    [rowData]="rowData"

    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [suppressRowTransform]="true"
    [components]="components"


>
</ag-grid-angular>
